:root{
  --header:#2c3e50;
  --section:#1abc9c;
  --card-house:#ba4b63;
  --card-cake:#1ea4b6;
  --card-circus:#140f0f;
  --card-games:#1c83c1;
  --card-safe:#0e38b5;
  --card-submarine:#ccb2a3;
  --footer_up:#3a546d;
  --footer_down:#2c3e50;
}

body{
  font-family: 'Helvetica Neue', sans-serif;
}

/* [class^="container"],
[class^="row"],
[class^="col"]{
  border: 1px solid red;
} */

/* .debug{
  border: 1px solid red;
} */

.em_container{
  width: 70%;
  min-width: 360px;
  max-width:1000px;
  margin: 0 auto;
}

.pb_xl{
  padding-bottom: 10rem;
}

.different_c{
  background-color: var(--section);
  color: white;
}

.image{
  height: 18rem;
  margin: 0 auto;
  aspect-ratio: 1;
}

.navbar-toggler{
  border: 1px solid white !important; 
}

/* HEADER  */
header{
  height: 80px;
  width: 100%;
  background-color: var(--header);
  position: fixed;
  top: 0;
  z-index: 1;
}

header ul li {
  list-style: none;
}

ul li:hover{
  border-bottom: 2px solid var(--section);
}

.dannata{
  font-size: 3rem;
}

.dannata i{
  font-size: 2rem;
}

.jumbotron .dannata::before,
.jumbotron .dannata::after,
.portfolio .dannata::before,
.portfolio .dannata::after,
.about_us .dannata::before,
.about_us .dannata::after,
.contact_me .dannata::before,
.contact_me .dannata::after{
  content:"\2015";
}

/* MAIN  */

/* jumbotrone  */
.jumbotron{
  margin-top: 80px;
}

/* portfolio */


/* about us  */
.em_form{
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0%;
}

input.em_form::placeholder,
textarea.em_form::placeholder{
  color: #2c3e50;
}

input.em_form:focus,
textarea.em_form:focus{
  box-shadow: none;
}



/* contact_me */
.btn_filled{
  background-color: var(--section);
  color: white;
}

/* FOOTER  */
.footer_up,
.footer_down{
  width: 100%;
}

/* footer_up  */
.footer_up{
  background-color: var(--footer_up);
}

.icon i {
  color: white;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}

.footer_up p{
  font-size: .9rem;
}

.footer_up span{
  color: var(--section);
}

/* .footer_down */
.footer_down{
  background-color: var(--footer_down);
}

.footer_down p{
  font-size:.8rem;
}

#overlay {
  position: absolute; 
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  background-color: rgba(26,188,156,0.6); 
  cursor: pointer;
}

#overlay i{
  font-size: 5rem;
}

.card_lay:hover #overlay{
  opacity: 1;
}



/* *****************
    MEDIA QUERY 
***************** */
@media screen and (min-width:768px) {
  h1,
  h2{
    font-size:larger;
  }

  .logo{
    font-size: 1.8rem !important;
  }

}


